<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>

	<header th:insert="/menu :: menuprincipal"></header>

	<div class="jumbotron bg-white-50 p-5"
		style="height: 90vh; overflow-y: auto;">

		<!--MENSAJES CONFIRMACION, ALERTA, ERROR -->
		<div
			class="alert alert-success alert-dismissible fade show d-flex bd-highlight"
			th:if="${success != null}" role="alert">
			<label th:text="${success}" class="w-100 bd-highlight"></label>
			<button type="button" class="btn-close flex-shrink-1 bd-highlight"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div
			class="alert alert-warning alert-dismissible fade show d-flex bd-highlight"
			th:if="${warning != null}" role="alert">
			<label th:text="${warning}" class="w-100 bd-highlight"></label>
			<button type="button" class="btn-close flex-shrink-1 bd-highlight"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div
			class="alert alert-danger alert-dismissible fade show d-flex bd-highlight"
			th:if="${error != null}" role="alert">
			<label th:text="${error}" class="w-100 bd-highlight"></label>
			<button type="button" class="btn-close flex-shrink-1 bd-highlight"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<h1 class="text-center">BIENVENIDO</h1>

		<div class="container">

			<div class="starter-template">
				<h1 th:text="${msg.title}"></h1>

				<p class="bg-primary" th:text="${msg.content}"></p>

				<div sec:authorize="hasRole('ROLE_HOME')">
					<!-- El tipo de usuario es ROLE_ADMIN display -->
					<p class="bg-info" th:text="${msg.etraInfo}"></p>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<!-- El tipo de usuario es ROLE_ADMIN display -->
					<p class="bg-info">Felicitaciones, tiene el permiso ROLE_ADMIN
					</p>
				</div>

				<form th:action="@{/logout}" method="post">
					<input type="submit" class="btn btn-primary" value="Cerrar sesión" />
				</form>
			</div>

		</div>

	</div>

	<footer th:replace="/layout :: footer"></footer>

	<script th:inline="javascript"
		th:src="@{/JS/database_java/dataRestController.js}"></script>

</body>
</html>