<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="baseJava/layout :: head"></head>
<body>

	<header th:insert="baseJava/menu :: menuprincipal"></header>

	<div class="jumbotron bg-white-50 p-5"
		style="height: 90vh; overflow-y: auto;">

		<!--MENSAJES CONFIRMACION, ALERTA, ERROR -->
		<div class="alert alert-success alert-dismissable"
			th:if="${param.success}">
			<label>Se inici&oacute; sesi&oacute;n exitosamente</label>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<div class="alert alert-warning alert-dismissable"
			th:if="${param.warning}">
			<label>Se encuentra una sesi&oacute;n activa</label>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<div class="alert alert-danger alert-dismissable"
			th:if="${param.error}">
			<label>Nombre de usuario o contrase&ntilde;a incorrectos</label>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>

		<!-- <h1 th:text="'Bienvenido ' + ${#authentication.principal.username}" class="text-center"></h1> -->
		
		<!-- Obtener datos de sesión por medio de objetos userDetails, se debe realizar llamando al metodo de la clase myUserDetails sobreescrito -->
		<div th:if="${#authentication.name != 'anonymousUser'}">
			<h1 th:text="'Bienvenido ' + ${#authentication.name}" class="text-center"></h1>
		</div>
    	<div th:unless="${#authentication.name != 'anonymousUser'}">
    		<h1 th:text="'Bienvenido por favor inicia sesi&oacute;n'" class="text-center"></h1>
    	</div>

		<div id="carouselExampleControls" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/171.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/images/171.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/images/171.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

	</div>

	<footer th:replace="baseJava/layout :: footer"></footer>


	<script th:inline="javascript" th:src="@{/JS/dataRestController.js}"></script>

</body>
</html>