<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="baseJava/layout :: head"></head>
<body>

	<header th:insert="baseJava/menu :: menuprincipal"></header>

	<div class="jumbotron bg-white-50 p-5"
		style="height: 90vh; overflow-y: auto;">

		<!--MENSAJES CONFIRMACION, ALERTA, ERROR -->
		<div
			class="alert alert-success alert-dismissible fade show d-flex bd-highlight"
			th:if="${success != null}" role="alert">
			<label th:text="${success}" class="w-100 bd-highlight"></label>
			<button type="button" class="btn-close flex-shrink-1 bd-highlight"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div
			class="alert alert-warning alert-dismissible fade show d-flex bd-highlight"
			th:if="${warning != null}" role="alert">
			<label th:text="${warning}" class="w-100 bd-highlight"></label>
			<button type="button" class="btn-close flex-shrink-1 bd-highlight"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div
			class="alert alert-danger alert-dismissible fade show d-flex bd-highlight"
			th:if="${error != null}" role="alert">
			<label th:text="${error}" class="w-100 bd-highlight"></label>
			<button type="button" class="btn-close flex-shrink-1 bd-highlight"
				data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<h1 th:text="'Bienvenido ' + ${#authentication.principal.username}" class="text-center"></h1>

		<div id="carouselExampleControls" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/171.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/images/171.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/images/171.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

	</div>

	<footer th:replace="baseJava/layout :: footer"></footer>


	<script th:inline="javascript" th:src="@{/JS/dataRestController.js}"></script>

</body>
</html>